
body {
    font-family: 'Thasadith', sans-serif;
    background-color: #4D131F;

}

.jumbotron {
    background: url(../HE.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    background-color:	#4D131F;
    border: 10px;
}

h1 {
    text-align: center;

}

.btn {
    color: #4D131F;
    background-color: 	#E0D59B; 
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    
}

.card-header {
    color: #4D131F;
    background-color: #E0D59B; 
   

}
